.container {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.container .card .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 250px;
    margin: 20px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
    background: whitesmoke;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 50px rgba(255, 3, 3, 0.8);
    transform: translateY(-3%);
}

.image {
    width: 100%;
    height: 210px;
}

.cardContainer {
    padding: 15px;
    text-align: center;
}

.name {
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.type {
    line-height: 1.5;
    color: midnightblue;
}

.link {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 15px;
}

.link:hover {
    background: red;
    color: white;
}