.background {
    background: url(https://i.imgur.com/C90jsi5.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: capitalize;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
}

.img {
    height: 90px;
}

.head {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background: dimgray;
}

.headB {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background: yellow;
}

.txtHome {
    color: yellow;
    font-size: 18px;
    font-family: 'Bahnschrift SemiCondensed';
}

.search{
    display: flex;
    justify-content: center;
    margin-left: 50%;
}

.loading {
    color: yellow;
    font-size: 40px;
}

.gif {
    width: 1000px;
    height: 470px;
}

.btnCrear  {
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 15px;
}

.btnCrear:hover {
    background: yellow;
    color: black;
}

.select {
    padding: 5px 20px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: dimgray;
    color: white;
    border: 3px solid red;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 135px;
    outline: none;
    box-shadow: 0 0 20px rgba(20, 20, 20, 0.25);

}

.select:-ms-expand {
    display: none;
}

.select:hover {
    border: 3px solid chartreuse;
}

option {
    letter-spacing: 1.2px;
    font-weight: 200px;
    font-size: 15px;
}

.link {    
    margin: 10px;
    float: left;
    text-decoration: none;
    opacity: none;  
}

.about  {
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 15px;
}

.about:hover {
    background: yellow;
    color: black;
}