.background {
    background: url(https://i.postimg.cc/1zRQJqnP/pokemon-1601388-960-720.jpg);
    /* position: absolute; */
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.form {
    top: 150px;
}

.title {
    color: chartreuse;
    font-size: 40px;
    margin-top: 5px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.label {
    text-align: center;
    padding: 5px 10px;
    font-size: 25px;
    color: chartreuse;
}

.label input {
    text-align: center;
    padding: 5px 18px;
    font-size: 14px;
    outline: none;
    color: black;
}

.error {
    color: yellow;
    font-size: 15px;
}

.btnVol {
    color: chartreuse;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid chartreuse;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnVol:hover {
    opacity: 0.5;
    color: black;
    background: chartreuse;
}

.btnCrear {
    color: chartreuse;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid chartreuse;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnCrear:hover {
    opacity: 0.5;
    color: black;
    background: chartreuse;
}

.containerDelete {
    background: gold;
    display: inline-flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    width: max-content;
    justify-content: flex-start;
    padding: 4px;
    margin: 5px;
}


.buttonDelete {
    width: max-content;
    height: 20px;
    margin: 3px 6px;
    border-radius: 100%;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
}

.typeDelete {   
    text-transform: capitalize;
    width: max-content;
    color: black;
}

.select{
    background: gold;
    text-transform: capitalize;
    cursor: pointer;
    display:inline-block;
    justify-content: center;
    text-align: center;
    font-family: 'Bahnschrift SemiCondensed';
    font-size: 18px;
    color: black;
    padding: 3px;
    border-radius: 4px;
    border-style: groove;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

li {
    list-style-type: none;
    text-transform: capitalize
}